<header class="edrink-header">
    <div class="edrink-header--middle">
        <div class="container-fluid">
            <div class="flex-row justify-content-center">
                <div class="flex-col-12 flex-col-md-auto text-center">
                    <div class="edrink-logo--header">
                        <a href="https://eatdrinkslc.com/"> <img src="../../assets/images/edrink-logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edrink-header--bottom">
        <div class="container-fluid">
            <div class="flex-row">
                <div class="flex-col-12">
                    <button class="btn edrink-menu--toggle" data-toggle="collapse" data-target="#edrinkMobileMenu"
                            aria-expanded="false" aria-haspopup="true"><i class="icon-hamburger"></i></button>
                    <div id="edrinkMobileMenu" class="collapse">
                        <nav class="edrink--header--nav">
                            <ul class="nav p-0 m-0 justify-content-between" role="tablist">
                                <li role="presentation" class="active"><a role="tab" data-toggle="tab"
                                            aria-controls="#home" href="#home">home</a></li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#buy-tickets"
                                            href="#buy-tickets">buy tickets</a></li>
                                <li role="presentation" class="dropdown edrink-has--submenu text-center hidden-xs hidden-sm"><a data-hover="dropdown"
                                            data-toggle="dropdown" aria-controls="#dd1" href="#">drink partners</a>
                                    <ul id="dd1" class="dropdown-menu edrink-nav--submenu m-0 p-0">
                                        <li role="presentation"><a role="tab" data-toggle="tab"
                                                    aria-controls="#wineries" href="#wineries"><span>Wineries</span></a>
                                        </li>
                                        <li role="presentation"><a role="tab" data-toggle="tab"
                                                    aria-controls="#distilleries" href="#distilleries"
                                                    itemprop="name"><span>Distilleries</span></a></li>
                                        <li role="presentation"><a role="tab" data-toggle="tab"
                                                    aria-controls="#breweries" href="#breweries"><span>Breweries</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible-xs visible-sm"><a role="tab" data-toggle="tab"
                                            aria-controls="#wineries" href="#wineries"><span>Wineries</span></a>
                                </li>
                                <li class="visible-xs visible-sm"><a role="tab" data-toggle="tab"
                                            aria-controls="#distilleries" href="#distilleries"
                                            itemprop="name"><span>Distilleries</span></a></li>
                                <li class="visible-xs visible-sm"><a role="tab" data-toggle="tab"
                                            aria-controls="#breweries" href="#breweries"><span>Breweries</span></a>
                                </li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#food"
                                            href="#food-partners">food partners</a></li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#sponsors"
                                            href="#sponsors">sponsors</a></li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#photos"
                                            href="#photos">photos</a></li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#about"
                                            href="#about">about</a></li>
                                <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="#contact"
                                            href="#contact">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="dropdown edrink-header&#45;&#45;mobile" aria-labelledby="edrinkMobileMenu">-->
    <!--<div class="dropdown-menu edrink-menu&#45;&#45;dropdown p-0 m-0" aria-labelledby="menuToggle">-->
    <!--<nav class="edrink-mobilenav&#45;&#45;primary">-->
    <!--<ul class="p-0 m-0">-->
    <!--<li><a class="btn btn-block text-left" target="_blank" href="#">Things to Do</a></li>-->
    <!--<li><a class="btn btn-block text-left" target="_blank" href="#">Events</a></li>-->
    <!--<li><a class="btn btn-block text-left" target="_blank" href="#">Hotels</a></li>-->
    <!--<li><a class="#" target="_blank" href="#">Restaurants</a></li>-->
    <!--<li><a class="btn btn-block text-left" target="_blank" href="#">About Denver</a></li>-->
    <!--<li><a class="btn btn-block text-left" target="_blank" href="#">Blog</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->

</header>
