<div class="edrink-header--social">
    <div class="container-fluid">
        <ul class="list-unstyled flex-row justify-content-center m-0 p-0">
            <li><a href="https://www.facebook.com/eatdrinkslc/" target="_blank"><i class="edricon-fb"></i></a></li>
            <li><a href="https://www.twitter.com/eatdrinkslc/" target="_blank"><i class="edricon-instagram"></i></a></li>
            <li><a href="https://www.instagram.com/eatdrinkslc/" target="_blank"><i class="edricon-tw"></i></a></li>
        </ul>
    </div>
</div>
