<div class="flex-row">
    <div class="flex-col-9">
        <article id="distilleries">
            <header>
                <h1 class="entry-tittle">DISTILLERIES</h1>
            </header>
            <section class="main-section distilleries-section text-center">
                <div class="distilleries-content--box">
                    <p><a href="http://www.3badge.com/kirkandsweeney/">Kirk and Sweeney Dominican Rum</a> mixed by <a
                            href="https://www.yelp.com/biz/takashi-salt-lake-city">Takashi Restaurant</a></p>
                    <p>Description coming…</p>
                </div>
                <div class="distilleries-content--box">
                    <p><a href="http://www.3badge.com/bozal/">Bozal Mezcal </a> mixed by <a
                            href="http://coppercommon.com/home">Copper Common</a></p>
                    <p>Description coming…</p>
                </div>
                <div class="distilleries-content--box">
                    <p><a href="http://www.wathens.com/">Walthen’s Single Barrel Kentucky Bourbon</a> mixed by <a
                            href="https://www.whiskeystreet.com/">Whiskey Street</a></p>
                    <p>Description coming…</p>
                </div>

            </section>
        </article>
    </div>
</div>

