.edrink-header {
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    display: block;
  }
}

.container-fluid {
  max-width: 1020px;
  padding: 0 30px;
  @media (min-width: 1140px) {
    max-width: 1140px;
  }
}

.edrink--header--nav {
  text-transform: uppercase;
  min-height: 50px;
  font-size: 12px;
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  letter-spacing: 2px;
  line-height: 1;
  @media (min-width: 992px) {
    min-height: auto;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
  }
  a {
    padding: 16px;
    color: #333;
    @media (min-width: 1140px) {
      padding: 20px 25px;
    }
  }
}

.edrink-logo--header{
  max-width: 400px;
  padding: 20px 0;
}
.edrink-menu--toggle{
  &:focus,&:active{
    outline: 0 !important;
    box-shadow: none;
  }

}