<article id="photos">
    <header>
        <h1 class="entry-title">PHOTOS</h1>
    </header>
    <section>
        <div class="container-fluid">
            <div class="flex-row">
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>
                <div class="flex-col-3">

                </div>


            </div>
        </div>
    </section>
</article>
