<article id="wineries">
    <header>
        <h1 class="entry-tittle">WINERIES</h1>
    </header>
    <section class="main-section wineries-section text-center">
        <div class="wineries-content--box">
            <a href="https://www.adelsheim.com/">Adelsheim Vineyard</a>
            <p>Established by David and Ginny Adelsheim in 1971, during a different era in America when an idealization
                of going back to the land, a vision of a lifestyle focused on wine, and faith in one’s own abilities
                could stand-in for a business plan.</p>
        </div>
        <div class="wineries-content--box">
            <a href="http://appellationwinecompany.com/">Appellation Wine Co.</a>
            <p>Appellation Wine Company is a unique portfolio of family estate wineries, proudly working together to
                grow and market world-class wines that reflect the historic soils from which they came and the
                passionate commitment of the families involved.</p>
        </div>
        <div class="wineries-content--box">
            <a href="http://classicwinesofcalifornia.com/">Bronco Wine Company</a>
            <p>
                Founded in 1973 by Fred T., Joseph S. and John Franzia, Bronco Wine Company is a family-owned winery
                committed to growing, producing and selling the finest quality wines of the highest value to our
                customers. Bronco Wine Company’s diverse family of brands is sold in over 90 countries worldwide in
                addition to being distributed throughout the United States.</p>
        </div>
    </section>
</article>
