<article id="food-partners">
    <header>
        <h1 class="entry-tittle">FOOD PARTNERS</h1>
    </header>
    <section>
        <div class="container-fluid">
            <div class="flex-row">
                <div class="flex-col-12">
                    <p class="text-center">Click logo</p>
                </div>
                <div class="flex-col-12">
                    <div class="flex-row align-items-center justify-content-center edrink-img--grid">
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/3cups.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Amour-Cafe.jpg" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Aves-Proper.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/bambara.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/BeehiveCheese.jpg" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/BlendedTable.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/copper_onion.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Cucina.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/dispensaryround.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/fireslice.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/frida-bistro.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/GarageGrill.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/labarba.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/LakeEffect.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Manolis-Logo.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/pallet.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/PCCulinary.jpg" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/pjks.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/provisions.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/red-rock-brewery-logo.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/stanza.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Stoneground.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/Trestle-tavern.png" alt=""></div>
                        <div class="flex-col-6 flex-col-md-3"><img class="img-responsive w-100" src="../../assets/images/food-partners/trio.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</article>
