<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<%= require('html-loader!./header/header.tpl.html') %>

<main class="main-content" role="main">
    <div class="container">
        <div class="flex-row">
            <div class="flex-col-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <%= require('html-loader!./home/home.tpl.html') %>
                        <%= require('html-loader!./video/video.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="buy-tickets">
                        <%= require('html-loader!./tickets/buy-tickets.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="participants">
                        <%= require('html-loader!./participants.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="wineries">
                        <%= require('html-loader!./wineries/wineries.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="distilleries">
                        <%= require('html-loader!./distilleries/distilleries.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="breweries">
                        <%= require('html-loader!./breweries/breweries.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="food-partners">
                        <%= require('html-loader!./food-partners/food-partners.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="sponsors">
                        <%= require('html-loader!./sponsors/sponsors.tpl.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="about">
                        <%= require('html-loader!./about/about.html') %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="contact">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%= require('html-loader!./footer/footer-widgets.tpl.html') %>
<%= require('html-loader!./footer/footer.tpl.html') %>

</body>
</html>
