$open-classname: '[aria-expanded="true"]' !default;
$bar-color: #65675b !default;
$bar-height: 0.25em !default;
$bar-width: 2em !default;
$bar-spacing: .5em;
$hamburger-selector: icon-hamburger !default;
